<!DOCTYPE html>

<html>

	<head>
	<link rel="stylesheet" href="/css/styles.css">

	</head>
<link rel="stylesheet" href="/css/styles.css">


	<body>
		{{>header}}

		<div id="testDiv"> test test test </div>

		{{>footer}}

	<script src="./client/client.js"></script>
	
	</body>


</html>


